<h2> <%= l(:reminder_mail_options) %></h2>

<% options = NagEverybodyOptions.find_or_create_by_project_id(@project.id) %>

<p>
<%= form_tag("reminder_mail_options/#{options.id}/edit", :method => 'post') do %>
  <fieldset class="box">
    <%= check_box_tag(:send_to_watchers, options.id, options.send_to_watchers) %>
    <%= label_tag(:send_to_watchers, l(:send_to_watchers)) %>
  </fieldset>
  <%= submit_tag("Save") %>
<% end %>
</p>
